// 颜色配置 $mode-color-深度/鲜艳度
// 深色模式
$d-app-background: #1a191c;
$d-theme:#93b3f2;
$d-red:#dd7467;
$d-yellow:#fdf985;
$d-blue:#6faec2;
$d-green:#4b9881;
$d-gray:#302f32;

//浅色模式
$l-app-background: #ffffff;
$l-theme:#bbbbbb;
$l-red:#aa4e4c;
$l-yellow:#e4b170;
$l-blue:#4662c6;
$l-green:#3b6022;
$l-gray:#9d9d9f;



