@import './global.scss';

*{
    box-sizing: border-box;
    transition: background-color 0.2s;
}

body{
  margin: 0;
  font-family:'STHeiti';
}


h1,h2,h3,h4,h5,h6,ul,ol,li,dl,p{
    margin: 0;
    padding: 0;
}


a{
  text-decoration: none;
}
  
input:focus {
  outline: none;
}
  
ul{
  list-style: none;
}

button{
  cursor: pointer;
  border: 0;
  outline: none;
  transition:all 0.2s;
}