@import './color.scss';


$sidebar-width-full:220px;
$sidebar-width-shrink:106px;
$topbar-height:80px;


$d-sidebar-itemColor:#ffffff;
$d-sidebar-itemColor-highlight:#000000;
$d-sidebar-itemBgColor:$d-theme;


$l-sidebar-itemColor:#666666;
$l-sidebar-itemColor-highlight:#ffffff;
$l-sidebar-itemBgColor:$l-theme;


$d-topbar-titleColor:#ffffff;
$l-topbar-titleColor:#444;




